body {
    background-color: #daf0f1; /* Warmes Off-White */
    color: #555555; /* Mittelgrau */
    font-family: 'Inter', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 1.8em;
    font-weight: 600;
    color: #3A3A3A; /* Warmes Dunkelgrau */
    text-align: center;
}

p {
    font-size: 1.2em;
    color: #555555;
    text-align: center;
    font-weight: bold;
}

/* Container */
.container {
    background-color: #cce5cf; /* Sanftes Pastell-Grau */
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    width: 80%;
    margin: 20px auto;
    transition: transform 0.2s ease, background-color 0.2s ease;
}
.container:hover {
    transform: translateY(-3px);
    background-color: #a9d6bb; /* leicht dunkler beim Hover */
}

/* Squircle-Button */
.reload {
    background-color: #A6D6A8; /* Weiches Pastellgrün */
    border-radius: 18px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    padding: 14px 18px;
    font-size: 1.4rem;
    color: #FFFFFF;
    font-weight: bold;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(166, 214, 168, 0.3);
    transition: transform 0.2s ease, background-color 0.2s ease;
}
.reload:hover {
    transform: scale(1.05);
    background-color: #C8E8C9; /* Helleres Mintgrün */
}
